/* Fichero CSS global */
* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.light {

}

.dark {
  color: white;
  background-color: #111111;
}