.modal {
  animation: slide-in .15s ease-in;
  background-color: var(--mini-color-element-background);
  border-radius: var(--mini-border-radius);
  border: var(--mini-border-size) solid var(--mini-color-border-colo);
  box-shadow: 2px 2px 15px -3px rgba(0, 0, 0, 0.3);
  left: 50%;
  transform: translateX(-50%);
  margin: 50px auto 0;
  max-width: 600px;
  position: absolute;
  top: 50px;
  text-align: center;
  padding: 2rem;
  width: 100%;
  will-change: transform;
  z-index: 10;
}

.modal {
  background-color: white;
  color: black;
}

.dark .modal {
  background-color: #333333;
  color: white;
}


.modal-background {
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  left: 0;
  top: 0;
  position: absolute;
  width: 100vw;
  z-index: 9;
}

.modal-close {
  border: 0;
  font-size: 1em;
  position: absolute;
  right: 15px;
  top: 15px;
}

.modal-close:active {
  top: 16px;
}

.modal-hidden {
  display: none;
}

@keyframes slide-in {
  0% {
    transform: translateX(-50%) translateY(-20px);
  }
  100% {
    transform:translateX(-50%)  translateY(0);
  }
}

.buttons {
  padding: 30px;
}

.modal .buttons button {
  height: 50px;
  width: 150px;
  font-size: 2em;
}